<div class="row">
  <div class="col-md-12 form-group">
    <h4 class="text-center">{{editMode ? 'Edit'+playlist.name : 'Create new play-list'}}</h4>
    <button class="btn btn-success d-block"
            [disabled]="!playListValid"
            (click)="savePlaylist()">{{editMode ? 'Save changes' : 'Create'}}</button>
  </div>
  <div class="col-md-12 form-group">
    <label for="playlist_name"
           class="font-weight-bold">Name</label>
    <input type="text"
           id="playlist_name"
           class="form-control"
           placeholder="Type playlist name here"
           [(ngModel)]="playlist.name">
  </div>
  <div class="col-md-12 form-group">
    <label for="playlist_videos" class="font-weight-bold">Videos <small class="text-info">(click over video to remove)</small></label>
    <ul id="playlist_videos"
        *ngIf="playlist.videos.length"
        class="list-group">
      <li class="list-group-item cursor-pointer"
          (click)="onRemoveVideo(i)"
          *ngFor="let video of playlist.videos; let i = index">
        <strong>{{video.author}}</strong>
        <p class="mb-0">{{video.title}}</p>
      </li>
    </ul>
    <p *ngIf="!playlist.videos.length"
       class="text-center">
      There are no videos. Try to add a new one.
    </p>
  </div>
  <div class="col-md-12 form-group">
    <input type="text"
           class="form-control mb-1"
           [(ngModel)]="video.title"
           placeholder="Title"
           title="Video title">
    <input type="text"
           class="form-control mb-1"
           [(ngModel)]="video.author"
           placeholder="Author"
           title="Video author">
    <input type="text"
           class="form-control mb-1"
           [(ngModel)]="video.link"
           placeholder="Link"
           title="Video link">
    <button class="btn btn-sm btn-info float-right"
            [disabled]="!isVideoValid"
            (click)="onAddVideo()">Add to playlist</button>
  </div>
</div>
