<div class="row">
  <div class="col-md-7 form-group">
    <h4>Your play-lists: </h4>
    <ul class="list-group"
        *ngIf="playlists.length">
      <ng-container *ngFor="let item of playlists">
        <app-playlist-item [playlist]="item"
                           (edit)="onEdit($event)"></app-playlist-item>
      </ng-container>
    </ul>
    <p *ngIf="!playlists.length">
      There are no play-lists. Try to create a new one.
    </p>
  </div>
  <div class="col-md-5 form-group">
    <app-playlist-edit [playlist_id_selected]="playlist_edit_id" (sumbitted)="onSubmitHandler()"></app-playlist-edit>
  </div>
</div>
